.swiper-container{
    display:flex;
    text-align:left;
    position:relative;
}

.swiper-slide{
    margin-top:20%;
    margin-right:10%;
    margin-left:10%;
    box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.2), 4px 4px 8px rgba(0, 0, 0, 0.2);    padding: 100px; /* Поля вокруг текста */
    padding-left:100px;
    padding-right: 300px;
    background: #fcfcfc; /* Цвет фона */
}

#slide1{
    z-index:3;
    position:absolute;
    
}
#slide2{
    z-index:2;
    position:absolute;
    margin-top:17%;
    width:70%;
    margin-left:15%;
    
}
#slide3{
    z-index:1;
    position:absolute;
    margin-top:14%;
    width:60%;
    margin-left:20%;
}
p{
    padding:10%;
}