*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Montserrat;
    list-style: none;
    text-decoration: none;
}
div.adv{
    text-align:center;
}
div.adv h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: revert;
    font-size: 25px;
    line-height: 35px;
    /* or 115% */
    padding-left:100px;
    padding-right:100px;
    margin-top:30px;
    
}
div.adv p{
    margin-top:20px;
    padding-left:30px;
    padding-right:40px;
}
#tarif{
    margin-top:35px;
}
div.cap #menu1{
    visibility: visible;
    opacity: 1;
    float:right;
    margin-right:10px;
    cursor:pointer;
    
}
div.cap nav ul li #adm2{
    visibility: visible;
    opacity: 1;
    margin-right:10px;
    color:#fffffe;
    text-align:center;
    cursor:pointer;
    
}

div.cap #menu{
    display:none;
}
div.cap .navbar a{
    display: block;
    margin: 0.1rem 0;
    font-size: 0.8rem;
    text-align:center;
    width:90vw;
    background-color:#354a5fb5;
    padding:10px;
    color:aliceblue;
    
}
div.cap #adm{
    display:none;
}
div.cap #menu:checked ~ .navbar{
    transform: scale(0);
    display:none;
}
div.cap nav ul li #adm:checked ~ .navbar2{
    display:none;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.page{
    padding:0;
}

header{
    min-height: 650px;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
    color:white;
    background-color: rgba(0, 0, 0, 0.795);
}
header video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000;
    width: 100%;
    height:100%;
    object-fit: cover;
}


div.ad{
    display:flex;
    flex-direction: row;
    margin-top:20px;
}
div.ad div.first_trio{
    display:flex;
    flex-direction: column;
    max-width: 50%;
    margin-top:40px;

}
div.ad div.second_trio{
    display:flex;
    flex-direction: column;
    margin-top:40px;

}
.advert1{
    height:33%;
    border-left:5px solid #F14D34;
    padding-bottom: 5px;
    font-size: 12px;
}
.advert{
    height:33%;
    border-left:5px solid #F14D34;
    font-size: 12px;
}
div.advert1 h1{
        float:left;
    }
/* Первое поле */
div.first_space{
    background-color:white;
    color:black;
}
div.first-space div.cells {
    display:flex;
    flex-direction: row;
    
}
div.first-space div.cells div.first-quatro{
    display:flex;
    flex-direction: column;
    width:50%;
}
div.first-space div.cells div.second-quatro{
    display:flex;
    flex-direction: column;
    width:50%;
}

.cell{
    padding:10px;
    height:25%
}

div.content{
    position: relative;
}


button {
    border-radius: 5px;
    border-color:#F14D34;
    padding: 10px;
    height:60px;
    width:220px;
    color:white;
    background-color: rgba(0, 0, 0, 0.315);
}

.cell2 img{
    
}
@media screen and (min-width: 770px) {
    #logo { margin-top:39px;}
    
    div.cap #menu:checked ~ .navbar{
        transform: scale(1);
        display:block;
    }
    div.cap nav ul li #adm:checked ~ .navbar2{
        display:block;
        visibility:hidden;
    }
    
    div.cap .navbar a{
        font-size: 0.8rem;
        margin-left: 1rem;
        color: #fff;
        transition: 0.5s;
        width:auto;
        margin:0px;
        padding-top:0;
        padding-bottom:0;
        background-color:#00000000;

    }
    div.cap nav ul li #adm2{
        margin-bottom:0;
    }


    div.cap #menu{
        display: none;
    }
    
    div.cap #menu1{
        font-size: 0rem;
        color:var(--blue);
        cursor: pointer;
        visibility: hidden;
        opacity:0;
    }
    div.cap ul li #adm2{
        font-size:16px;
        margin-top:-4px;
    }
    header div.cap{
        display:flex;
    }
    
    header div.cap nav{
        margin-top:39px;
    }

    header div.cap nav ul li{
        position:relative;
        float:left;
    }
    header div.cap nav ul li:hover > ul{
        display:block;
    }
    
    header div.cap nav ul li ul{
        position:absolute;
        left:0;
        /* margin-top:-9px; */
        display:none;
        background-color:#F14D34;
        z-index:1;
    }
    header div.cap nav ul li p{
        margin-bottom:0;
        padding-left: 10px;
        font-size:18px;
    }
    
    header div.cap nav ul li ul li{
        width:100%;
        border:1px solid rgba(0,0,0,0,.1);
    }
    header div.cap nav ul li ul li a{
        margin-top:5px;
        margin-bottom: 5px;
        margin-left: 15px;
        margin-right: 15px;
    }
    
    header div.cap nav ul li ul li:hover{
        background-color: rgb(0 14 173);
        text-decoration: none;
    }
    header div.cap nav ul li label1{
        margin-left:15px;
        margin-right:15px;
        font-size:18px;
        margin-top:4px;
        font-family: Ubuntu;
        color:#ffffff;
        display:block;
    }
    .drupal-support-menu{
        border-bottom:3px solid #e13800;
        margin-right:10px;
        margin-left:60px !important;
        padding-left:0 !important;
        padding-right:0 !important
    }
    .header-center{
        display:flex;
        margin:auto;
        margin-top:120px;
    }
    div.adv{
        /* margin-top:135px;
        margin-left: 130px;
        margin-right:100px; */
        /* min-width:506px; */
        max-height:306px;
        float:left;
        text-align:left;
    }
    div.adv h1{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight:1;
        font-size: 52px;
        line-height: 60px;
        /* or 115% */
        display: flex;
        align-items: center;
        padding-left:0px;
        padding-right:0px;
        margin-top:0px;
    }
    div.adv p{
        margin-top:15px;
        padding-left:0px;
        padding-right:0px;
    }
    #tarif{
        margin-top:0px;
    }
    div.adv button{
        margin-top:55px;
    }
    div.ad{
        margin-left: 20px;
        /* margin-right:130px; */
        display:flex;
        flex-direction: column;
        /* margin-top:170px; */
        /* max-width: 593px; */
    }
    div.ad div.first_trio{
        display:flex;
        flex-direction: row;
        max-width: none;
        height:50%;
        margin-top:0px;
    }
    div.ad div.second_trio{
        display:flex;
        flex-direction: row;
        height:50%;
        margin-top:0px;
    }
    .advert1 p{
        margin-bottom: 0;
    }

    .content{
        margin-left:130px;
        margin-right:130px;
    }
    /* Первое поле */
    div.first-space{
        background-color:white;
        color:black;
        margin-top: 100px;
        /* margin-left:130px;
        margin-right:130px; */
    }
    div.first-space p{
        width: 493px;
        height: 44px;
        

        /* text/16px */
        font-family: 'Montserrat';
        font-style: normal;
        font-size: 16px;
        line-height: 22px;
    }
    div.first-space h1{
        max-width: 580px;
        height: 153px;
        font-family: 'Montserrat';
        font-style: normal;
        font-size: 42px;
        line-height: 51px;
    }
    div.first-space div.cells {
        display:flex;
        flex-direction: column;
    }
    div.first-space div.cells div.first-quatro{
        display:flex;
        flex-direction: row;
        width:100%;
        height:50%;
    }
    div.first-space div.cells div.second-quatro{
        display:flex;
        flex-direction: row;
        width:100%;
        height:50%;
    }
    .cell{
        padding-left:0;
        margin:auto;
        padding-top: 25px;
        padding-bottom: 0;
        min-height:182px;
    }
    .cell p{
        max-width: 194px;
    }

    /* //Второе поле */
    div.second-space{
        margin-top:116px;
        
    }

    div.second-space div.cells{
        display:flex;
        flex-direction: column;
    }
    div.second-space div.cells div.first-quatro{
        display:flex;
        flex-direction: row;
    }
    div.second-space div.cells div.second-quatro{
        display:flex;
        flex-direction: row;
    }
    .cell2{
        width:25%;
    }




    
    

}
@media screen and (min-width: 1000px) {
    .header-center{
        display:flex;
        margin:auto;
        padding-left: 150px;
        padding-right:150px;
        /* position:absolute;
        left:10vw;
        right: 10vw; */
        margin-top:120px;
    }
    header div.cap{
        display:flex;
        padding-left: 150px;
    }

}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Light.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
