.bottom{
    background: url(../img/black_square_support.png) no-repeat center center/cover;
    width: 100%;
}
.b-form label, .input-field{
    width: 100%;
}
.input-field{
    background-color: #ffffff00;
    border-color:#d7d7d7;
    border-radius: 5px;
    padding: 5%;
}
.b-footer h2{
    color: white;
}
.bottom p{
    color: #9f9e9e;
    font-size:10pt;
}
.bottom label{
    color: white;
}
.b-footer h1{
    color:white;
    font-size: 14pt;
    text-decoration: underline;
}
.input-field{
    color:white;
}
#telephone{
    margin-top: 10vw;
}

.footer-body{
    font-size: 10pt;
}
.footer-body p{
    font-size: 10pt;
    margin-bottom:0px;
    color: #9f9e9e;
}


.slick-track{
    display: flex;
    min-width:0;
}


.slider{
    position: relative;
    border:10px;
    border-color:#000000;
    height: 210px;
    margin-top:-20px
}
button.slick-next.slick-arrow{
    visibility: hidden;
}
button.slick-prev.slick-arrow{
    visibility: hidden;
}
.slider_item{
    background-color: white;
}

.i1{
    padding:50px;
    padding-left:40px;
    padding-right:40px;
    border:1px solid #c5c4c4;
    height:180px;
    width:19.8vw;
}
.i2{
    padding:50px;
    padding-left:10px;
    padding-right:10px;
    border:1px solid #c5c4c4;
    height:180px;
    width:18vw;

}

/* .slider .slick-dots{
    display:flex;
    align-items:center;
    justify-content: center;
    margin:auto;
    padding:0;
} */

/* .slider .slick-dots li{
    list-style:none;
    margin:10px;
} */

/* .slider .slick-dots button{
    font-size:0;
    width: 16px;
    height:16px;
    background-color:#000000;
    border-radius: 100%;
    border-color:rgb(0, 0, 0);
} */

/* .slider .slick-dots li.slick-active button{
    background-color:rgb(255, 136, 0);
    border-color:rgb(0, 0, 0);
} */

.slider .slider_item{
    margin:auto;
}

.slider2{
    position: relative;
    border:10px;
    border-color:#000000;
    margin-top:-20px

}

.slider2 .slider_item2{
    margin:auto;
}

@media screen and (max-width: 500px) {
    .i2{
        padding:50px;
        padding-left:10px;
        padding-right:10px;
        border:1px solid #c5c4c4;
        height:150px;
        width:99%;
    
    }
    .i1{
        padding:50px;
        padding-left:40px;
        padding-right:40px;
        border:1px solid #c5c4c4;
        height:150px;
        width:100%;
    }
    .slider{
        position: relative;
        border:10px;
        border-color:#000000;
        height: 210px;
        margin-top:-20px
    }
    .slider2{
        position: relative;
        border:10px;
        border-color:#000000;
        margin-top:-55px
    
    }
}

@media screen and (max-width: 900px) {
    .i2{
        padding:50px;
        padding-left:10px;
        padding-right:10px;
        border:1px solid #c5c4c4;
        height:180px;
        width:32vw;
    
    }
    .i1{
        padding:50px;
        padding-left:40px;
        padding-right:40px;
        border:1px solid #c5c4c4;
        height:180px;
        width:36vw;
    }
    .slider{
        position: relative;
        border:10px;
        border-color:#000000;
        height: 210px;
        margin-top:-20px
    }
    .slider2{
        position: relative;
        border:10px;
        border-color:#000000;
        margin-top:-20px
    
    }
}
